.btn{
    margin: 10px;
}

.wrapper {
    margin: 16px auto;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    padding: 15px;
}

.bar{
    height: 100%;
}

.mat-form-field{
    width: 100%;
}

mat-accordion{
    margin: 10px;
}
