footer{
  height: 120px;
  width: 100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/project-98593.appspot.com/o/images%2Ffood.png?alt=media&token=ae0d2ec6-dc1b-41e3-8b79-446030999b32');
}
