.mat-form-field{
    width: 100%;
}
.btn{
    zoom: 75%;
}

.mat-sort-header-container {
    align-items: center;
  }

  table {
    width: 100%;
  }
  .wrapper{
    margin: 16px auto;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    padding: 15px;
  
  }
.imgLouding{
  width: 100%;
}

  .table{
    box-shadow: 5px 5px 50px rgb(57, 58, 58);
    font-size: 14px;
  }
  